/*######## Defaults ###############*/
nav,
header,
footer {
    display: block;
}

body {
    line-height: : 1;
    margin: 0;
}

label {
    font-size: 35px;
    font-weight: 600;
}

p {
    font-size: 28px;
    line-height: 1.2;
}

article p {
    padding: 20px;
}

.container {
   
    width: 100%;
    margin: auto;
    padding-top: 0;
    padding-bottom: 4%;
    
    
}
.imag {
    background-image:url("hiii.png");
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

.hello {
    background-image:url("table.png");
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
.water {
    background-image:url("water.png");
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
.lol{
    background-image:url("hell.png");
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}




.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width:75%;
}
.col-11 {width: 100%;

}
.col-12 {width: 50%;
    margin-left: 350px;
}
.col-14 {width :100%; }
.col-13 {
    width: 40%;
    margin-left:100px;
}
.col-15 {
    width:1300px;
    height:100%;
    
}
* {
    box-sizing: border-box;
}

/*############## Nav Bar ###########*/

nav {
    width: 100%;
    margin: 0;
    position: ;
    box-shadow: -2px -2px 20px 2px rgba(0,0,0,.15), 2px 2px 17px 2px rgba(0,0,0,1);
}

nav ul {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul.topnav li {
    list-style: none;
    float: left;
}

nav ul.topnav li.topnav-right {
    float: right;
}

nav ul a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: white;
}

ul.topnav li a:hover {
    background-color: blue;
    color: white;
}

ul.topnav li.dropdownIcon {
    display: none;
}


/*######### Custom styles ##########*/

.vid+vv {
    padding-bottom: 500px;
}

div.leftSide-col {
    text-align: center;
}

div.rightSide-col {
    margin-left: 15%;
}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 759px;
    filter: blur(5px);
    background: cover;
}

h1.large {
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 5px;
    color: white;
    font-size: 60px;
    margin: 0;
    line-height: 45px;
    white-space: nowrap;
}

h2.large {
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 3px;
    font-size: 36px;
    color: white;
    white-space: nowrap;
    padding: 25px;
}

.overlay {
    position:absolute;
    top:300px;
    left:485px;
    bottom: 500px;
    right: 550px;
    z-index:1;
}



div.box {
    text-align: center;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
        0 2px 3px 0 rgba(0,0,0,.1);
}

.box2 {
    text-align: center;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
        0 2px 3px 0 rgba(0,0,0,.1);
    
}

div.icon {
    width: 100%;
}

h1.menu-head {
    margin-left: 50%;
    color: black;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 5px;
    font-size: 55px;
}

.menu-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    
}
.image {
    background-image:url("menus.jpg");
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}


div.vvImg img {
    display: block;
    margin: auto;
    /*H V Blur Spread, Shadow BackGr Box Opacity*/
    box-shadow: -2px -2px 20px 2px rgba(0,0,0,.15), 2px 2px 17px 2px rgba(0,0,0,1);
}

button {
    font-size: 24px;
    font-weight: 700;
    color: white;
    background-color: cornflowerblue;
    padding: 15px 40px;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
}

button.buttons {
    display: block;
    margin: auto;
}

.button2 {
    width: 100%;
    margin: 10px 5px 10px 0px;
}

h1.section2Header {
    font-family: 'Patrick Hand', cursive;
    font-size: 55px;
    text-align: center;
}

form h2 {
    font-family: 'Patrick Hand', cursive;
    color: black;
}

input[type="text"] {
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

input[type="email"] {
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

input[type="password"] {
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

input[type="number"] {
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

input[type="submit"] {
    font-size: 24px;
    font-weight: 500;
    color: white;
    background-color: cornflowerblue;
    padding: 15px 40px;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
.images {
    background-image:url("hiii.jpg");
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    font-family: 'Patrick Hand', cursive;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}



footer.footsy {
    background-color: gray;
    padding-left: 10%;
}

footer.footsy h1 {
    font-family: 'Patrick Hand', cursive;
    color: white;
    font-size: 35px;
}

footer.footsy ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footsy ul li {
    color: white;
    font-size: 22px;
    line-height: 1.5;
}


/*######## Mobile ##########*/

@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive {
        position: relative;
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    
    h1.section2Header {
        font-family: 'Patrick Hand', cursive;
        font-size: 40px;
        text-align: center;
    }
    
    article p {
        font-size: 25px;
    }
    
    .col-7,
    .col-5,
    .col-6,
    .col-4 {
        width: 100%;
        margin: 0;
    }
    
    div.mobileStack{
        width: 100%;
        display: block;
    }
    
    div.box {
        padding: 5px;
        display: block;
    }
    
    div.vvImg {
        margin: 10px;
    }
    
    div.vvImg img {
        width: 100%;
    }
    
    div.leftSide-col,
    div.rightSide-dol {
        margin: 15px;
    }
    
    input[type="email"] {
        width: 350px;
    }
    
    input[type="password"] {
        width: 350px;
        margin-bottom: auto;
    }
    
    .videoContainer iframe{
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
    
}